@model IEnumerable<School.Entities.Fields.Student>

<style>

    .card_t {
        border-radius: 2px;
        display: inline-block;
        min-height: 100px;
        /*margin: 1rem;*/
        margin: 1px;
        position: relative;
        width: calc(100% - 6px);
        padding-top: 1px;
    }

    .card-s {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

        .card-s:hover {
            box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
        }
</style>


<div class="col-md-12" style="border: 0px solid white; display: inline-block;">
    <div class="card_t card-s">
        <div class="col-xs-12" style="min-height:300px;">


            <div class="col-xs-12 rm-pd" style="border:0px solid red;">

                <div class="card_t card-s" style="min-height:40px;">
                    <div class="col-xs-12" style="min-height:40px;">

                        <div class="card_t card-s" style="width:120px;min-height:30px;">
                            <div class="col-xs-12" style="height:30px;">
                                Add new row
                            </div>
                        </div>
                        <div class="card_t card-s" style="width:120px;min-height:30px;">
                            <div class="col-xs-12" style="height:30px;">
                                Copy_last_week
                            </div>
                        </div>
                        <div class="card_t card-s" style="width:120px;min-height:30px;">
                            <div class="col-xs-12" style="height:30px;">
                                Save as all
                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <div class="col-xs-12 rm-pd" style="border:0px solid red;">

                <div class="card_t card-s">
                    <div class="col-xs-12" style="min-height:250px;">
                        <table id="tableId" class="table" style="border:thin solid rgb(229, 234, 240);">
                            <thead style="background-color:rgb(229, 234, 240);">
                                <tr>
                                    <th>
                                        Projects
                                    </th>
                                    <th style='width:60px'>
                                        Mon,Feb1
                                    </th>
                                    <th style='width:60px'>
                                        Tue,Feb2
                                    </th>
                                    <th style='width:60px'>
                                        Wed,Feb3
                                    </th>
                                    <th style='width:60px'>
                                        Thu,Feb4
                                    </th>
                                    <th style='width:60px'>
                                        Fri,Feb5
                                    </th>
                                    <th style='width:60px'>
                                        Sat,Feb6
                                    </th>
                                    <th style='width:60px'>
                                        Sun,Feb7
                                    </th>
                                    <th style='width:100px'>
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (int i = 0; i < 5; i++)
                                {
                                    <tr>
                                        <td>
                                            bheboo portal
                                            @*<input type='text' value="" style='width:60px' />*@
                                        </td>
                                        <td>
                                            <input type='text' value="" style='width:60px' />
                                        </td>
                                        <td>
                                            <input type='text' value="" style='width:60px' />
                                        </td>
                                        <td>
                                            <input type='text' value="" style='width:60px' />
                                        </td>
                                        <td>
                                            <input type='text' value="" style='width:60px' />
                                        </td>
                                        <td>
                                            <input type='text' value="" style='width:60px' />
                                        </td>
                                        <td>
                                            <input type='text' value="" style='width:60px' />
                                        </td>
                                        <td>
                                            <input type='text' value="" style='width:60px' />
                                        </td>
                                        <td>
                                            <input type='text' value="" style='width:60px;float:left;' />
                                            <i class="fa fa-times-circle" style='width:20px ;font:12px;float:left;color:red;'></i>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                            <tfoot style="background-color:rgb(229, 234, 240);">
                                <tr>
                                    <th>
                                        Total
                                    </th>
                                    <th>
                                        00.00.00
                                    </th>
                                    <th>
                                        00.00.00
                                    </th>
                                    <th>
                                        00.00.00
                                    </th>
                                    <th>
                                        00.00.00
                                    </th>
                                    <th>
                                        00.00.00
                                    </th>
                                    <th>
                                        00.00.00
                                    </th>
                                    <th>
                                        00.00.00
                                    </th>
                                    <th>
                                        00.00.00
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 rm-pd">

                <div class="card_t card-s" style="min-height:40px;">
                    <div class="col-xs-12">

                        <div class="card_t card-s" style="width:120px;min-height:30px;">
                            <div class="col-xs-12" style="height:30px;">
                                Add new row
                            </div>
                        </div>
                        <div class="card_t card-s" style="width:120px;min-height:30px;">
                            <div class="col-xs-12" style="height:30px;">
                                Copy_last_week
                            </div>
                        </div>
                        <div class="card_t card-s" style="width:120px;min-height:30px;">
                            <div class="col-xs-12" style="height:30px;">
                                Save as all
                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <div class="col-xs-12 rm-pd">
                <div class="card_t card-s">
                    <div id="list2" class="col-xs-12">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>


    $(document).ready(function () {

        $("#list2").jqGrid({
            url: 'https://localhost:49765/MVCJQGrid/getEmployees',
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            mtype: 'GET',
            colNames: ['ID', 'Employee Name', 'Designation',
                'Gender', 'Salary', 'City', 'State', 'Zip'],
            colModel: [
                { name: 'id', index: 'id', width: 55, sorttype: "int" },
                { name: 'Name', index: 'Name', width: 90 },
                { name: 'Designation', index: 'Designation', width: 100 },
                { name: 'Gender', index: 'Gender', width: 80 },
                {
                    name: 'Salary', index: 'Salary', width: 80,
                    align: "right", sorttype: "float"
                },
                { name: 'City', index: 'City', width: 80 },
                { name: 'State', index: 'State', width: 150 },
                { name: 'Zip', index: 'Zip', width: 150 }
            ],
            rowNum: 5,
            rowList: [5, 10, 15],
            pager: '#pager2',
            sortname: 'id',
            viewrecords: true,
            sortorder: "asc",
            caption: "JSON Example"
        });
        jQuery("#list2").jqGrid('navGrid', '#pager2',
            { edit: false, add: false, del: false });
    });











    var notWorkig = function () {
        $("#list2").jqGrid({
            url: 'https://localhost:49765/MVCJQGrid/getEmployees',
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            mtype: 'GET',
            colNames: ['ID', 'Employee Name', 'Designation',
                'Gender', 'Salary', 'City', 'State', 'Zip'],
            colModel: [
                { name: 'id', index: 'id', width: 55, sorttype: "int" },
                { name: 'Name', index: 'Name', width: 90 },
                { name: 'Designation', index: 'Designation', width: 100 },
                { name: 'Gender', index: 'Gender', width: 80 },
                {
                    name: 'Salary', index: 'Salary', width: 80,
                    align: "right", sorttype: "float"
                },
                { name: 'City', index: 'City', width: 80 },
                { name: 'State', index: 'State', width: 150 },
                { name: 'Zip', index: 'Zip', width: 150 }
            ],
            rowNum: 5,
            rowList: [5, 10, 15],
            pager: '#pager2',
            sortname: 'id',
            viewrecords: true,
            sortorder: "asc",
            caption: "JSON Example"
        });
        jQuery("#list2").jqGrid('navGrid', '#pager2',
            { edit: false, add: false, del: false });
    };
</script>


<script>

    $('#tableId .btnEdit').click(function (e) {
        // debugger;
        event.preventDefault();
        event.stopPropagation();
        var getID = $(this);

        var StudentId = $(this).closest('td').parent('tr').find("td:eq(0)").text();
        var Firstname = $(this).closest('td').parent('tr').find("td:eq(1)").text();
        var LastName = $(this).closest('td').parent('tr').find("td:eq(2)").text();

        var CourseId = $(this).closest('td').parent('tr').find("td:eq(3)").text();
        var CourseName = $(this).closest('td').parent('tr').find("td:eq(4)").text();
        //var Email = $(this).closest('td').parent('tr').find("td:eq(5").text();

        var data = {
            'StudentId': StudentId.trim(),
            'Firstname': Firstname.trim(),
            'LastName': LastName.trim(),
            'CourseId': CourseId.trim(),
            'CourseName': CourseName.trim()
            //'Email': Email.trim()
        };

        //var _data= JSON.stringify({ jsonString: data}),

        //var objPage = controllerHelper.objPage;
        //objPage.partialHolder = "#Home-Container #childPage #partialHolder"
        //objPage.header = 'Upload File';
        //objPage.type = 'Post';
        //objPage.url = '/Student/UpdateView';
        //objPage.data = data;

        //controllerHelper.requestController({ pageType: "popup", pageData: objPage });


        var header = 'Update Student';
        var url = '/StudentResult/GetStudentResults';
        var objPopup = classPageConstant.popupChildOne;
        var pageObj = { function: "popup", url: url, type: "Post", data: data, header: header, pageId: "", objPopup: objPopup };
        classControllerHelper.callController(pageObj);


        /* alert(data.surbub);*/
        //var url = '/Product/EditProduct';
        //var header = "Edit Product";
        //var objPopup = constantPages.popupChildOne;
        //var pageObj = { function: "popup", url: url, data: data, header: header, pageId: "", objPopup: objPopup };
        //classControllerHelper.callController(pageObj);
    });



    function loadProducts() {
        jQuery(document).ready(function () {
            jQuery("#list").jqGrid({
                url: '/Home/GetProducts/',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Id', 'Name', 'QuantityPerUnit', "UnitPrice"],
                colModel: [
                    { name: 'Id', index: 'Id', width: 40, align: 'left' },
                    { name: 'Name', index: 'Name', width: 40, align: 'left' },
                    { name: 'QuantityPerUnit', index: 'QuantityPerUnit', width: 200, align: 'left' },
                    { name: 'UnitPrice', index: 'UnitPrice', width: 200, align: 'left' }],
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                sortname: 'Id',
                sortorder: "desc",
                viewrecords: true,
                caption: 'My first grid'
            });
        });
    }

</script>

