@model IEnumerable<School.Entities.Fields.Grades>

@{
    string test = "test";
    //grade
}

<style>

    .card_t {
        border-radius: 2px;
        display: inline-block;
        min-height: 100px;
        margin: 1rem;
        position: relative;
        width: calc(100% - 20px);
        padding-top: 5px;
    }

    .card-s {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

        .card-s:hover {
            box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
        }





    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: 1.1rem;
    }

        table tbody tr {
            height: 30px;
        }

    td,
    th {
        padding: 0.25rem;
        text-align: left;
        border: 1px solid #ccc;
    }

    td {
        text-align: center;
    }

    tbody tr:nth-child(odd) {
        background: #eee;
    }


    tbody tr:hover {
        background: rgb(205, 205, 205);
        /*height: 30px;*/
    }

    table .btn {
        margin: 0px 1px;
        height: 26px;
        padding: 2px 2px;
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: 1.1rem;
        width: 80px;
        background-color: transparent;
        border: thin solid silver;
    }


    .PartialLayoutMenu, #menuId, #menuId .sidebar, .treeview a,
    #layoutLeftId, #layoutLeftId .layoutLeft-header, .layoutRight-header-bottom,
    #Home-Container #basePartialHolder .divHeader {
        background-color: rgb(43, 67, 81);
    }

        #Home-Container #basePartialHolder .divHeader p {
            color: white;
        }

    #tableId thead {
        background-color: rgb(47, 71, 86);
        color: white;
    }







</style>

<style>

    .form-LCR {
        width: calc(100% - 0px);
        height: 32px;
        border: thin solid green;
    }

    .form-L {
        width: 200px;
        height: 32px;
        border: thin solid red;
        float: left;
    }

    .form-C {
        width: calc(100% - 500px);
        height: 32px;
        border: thin solid yellow;
        float: left;
    }

    .form-R {
        width: 300px;
        height: 32px;
        border: thin solid black;
        float: left;
    }

    .form-LCR li {
        width: 30px;
        height: 30px;
        border: thin solid black;
        float: left;
        padding-top: 4px;
    }

    .form-LCR .previous-li {
        width: 70px;
        /*height: 35px;
        border: thin solid black;
        float: left;*/
    }

    .form-LCR .next-li {
        width: 35px;
        /*height: 35px;
        border: thin solid black;
        float: left;*/
    }
</style>

<style>

    .my-triangle-up {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid black;
    }

    .my-triangle-down {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
    }

    .my-triangle-left {
        width: 0;
        height: 0;
        border-right: 5px solid black;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        height: 5px;
    }

    .my-triangle-right {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
    }

    .col-wrapper {
    }

    .col-L {
        float: left;
        width: calc(100% - 30px);
        /*border: thin solid red;*/
    }

    .col-R {
        float: left;
        width: 20px;
        /*border: thin solid red;*/
        height: 18px;
        position: relative;
    }

        .col-R i, .col-R div {
            float: left;
            /*width: 100%;*/
            position: absolute;
            font-size: 12px;
            height: 12px;
            top: -6px;
        }

        .col-R .my-triangle-up {
            margin-top: 1px;
        }

        .col-R .my-triangle-down {
            margin-top: 15px;
        }
</style>


<div class="col-md-12" style="border: 0px solid white; display: inline-block;">
    <div class="card_t card-s">
        <div style="padding:15px;">
            <table id="tableId" class="table" style="border:1px solid silver;">
                <thead>
                    <tr>
                        <th>
                            <div class="col-wrapper">
                                <div class="col-L">
                                    @Html.DisplayNameFor(model => model.GradeId)
                                </div>
                                <div class="col-R rm-pd">
                                    <div class="my-triangle-up"></div>
                                    <div class="my-triangle-down"></div>
                                </div>
                            </div>
                           @*@Html.DisplayNameFor(model => model.GradeId)*@
                        </th>
                        <th>
                            <div class="col-wrapper">
                                <div class="col-L">
                                    @Html.DisplayNameFor(model => model.Grade)
                                </div>
                                <div class="col-R rm-pd">
                                    <div class="my-triangle-up"></div>
                                    <div class="my-triangle-down"></div>
                                </div>
                            </div>
                            @*@Html.DisplayNameFor(model => model.Grade)*@
                        </th>
                        <th style="width:100px;">
                            Edit
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.GradeId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Grade)
                            </td>
                            <td>
                                <button id="btnEditGrade" type="button" class="btnEditGrade btn">Edit</button>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="5" class="text-center" style="border:thin solid red;">

                            <div class="form-LCR">
                                <div class="form-L">
                                    <span>Showing 1 to 10 of 57 entries</span>
                                </div>
                                <div class="form-C"></div>
                                <div class="form-R">
                                    <ul style="width:auto;">
                                        <li class="previous-li" style="display:block" onclick="callController('/StudentRegister/CreateRecord','Create Student')">
                                            <a href="#">Previous</a>
                                        </li>
                                        <li class="page-number" style="display:block" onclick="callController('/StudentRegister/CreateRecord','Create Student')">
                                            <a href="#">1</a>
                                        </li>
                                        <li class="page-number" style="display:block" onclick="callController('/StudentRegister/CreateRecord','Create Student')">
                                            <a href="#">2</a>
                                        </li>
                                        <li class="page-number" style="display:block" onclick="callController('/StudentRegister/CreateRecord','Create Student')">
                                            <a href="#">3</a>
                                        </li>
                                        <li class="page-number" style="display:block" onclick="callController('/StudentRegister/CreateRecord','Create Student')">
                                            <a href="#">4</a>
                                        </li>
                                        <li class="page-number" style="display:block" onclick="callController('/StudentRegister/CreateRecord','Create Student')">
                                            <a href="#">5</a>
                                        </li>
                                        <li class="next-li" style="display:block" onclick="callController('/StudentRegister/CreateRecord','Create Student')">
                                            <a href="#">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>

<script>

    $('#tableId .btnEditGrade').click(function () {

        var CourseId = $(this).closest('td').parent('tr').find("td:eq(0)").text();
        var Grade = $(this).closest('td').parent('tr').find("td:eq(1)").text();

        var data = {
            'GradeId': CourseId.trim(),
            'Grade': Grade.trim()
        };
        var header = 'Edit Drade';
        var url = '/Grade/UpdateView';

        var objPopup = classPageConstant.popupChildOne;
        var pageObj = { function: "popup", url: url, type: "Post", data: data, header: header, pageId: "", objPopup: objPopup };
        classControllerHelper.callController(pageObj);
    });

</script>


