@model School.Entities.Fields.Grades

<style>
    #childPage {
        width: 800px;
        left: calc(50% - 400px);
        display: none;
    }

        #childPage #partialHolder {
            /*height: calc(100% - 2px);*/
            border: none;
            overflow-y: hidden;
            overflow-x: hidden;
            max-height: 260px;
        }
</style>

@using (Ajax.BeginForm("Update", "Course", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", HttpMethod = "POST" }, new { @class = "form-horizontal", role = "form", id = "addNewForm" }))
{
    <div id="register-page" class="col-xs-12">
        <div class="form-horizontal" style="padding-top:20px;">

            <div class="form-group">
                @Html.LabelFor(model => model.GradeId, new { @class = "col-sm-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.GradeId, new { @id = "GradeId", @class = "col-sm-12 fileStyle form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Grade, new { @class = "col-sm-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Grade, new { @id = "Grade", @class = "form-control"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input id="btnSave" type="submit" value="Save" class="btn btn-primary" onclick='return validateInput()' />
                    <button type="button" id="btnClose" class="btn btn-danger btnWidth btnlogColor">Close</button>
                </div>
            </div>
        </div>
    </div>
}
<script>

    function validateInput() {

        var _inputs = ['GradeId', 'Grade'];
        var isvalid = ClassValidationHelper.ValidateInput(_inputs)
        if (isvalid === false) {
            ClassValidationHelper.errorEmptyField();
            return isvalid
        }
    }

    function OnFailure(response) {
    };
    function OnSuccess(response) {
    };

</script>