
table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1.1rem;
}

    table tbody tr {
        height: 30px;
    }

td,
th {
    /*border: 1px solid rgb(190, 190, 190);
        padding: 5px 10px;*/
}

td {
    text-align: center;
}

table .btn {
    margin: 0px 1px;
    height: 26px;
    padding: 2px 2px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1.1rem;
}




input[type="text"], .form-control {
    outline: none;
    cursor: pointer;
    /*font-size: 17px;*/
    font-size: 14px;
    border-radius: 2px;
    border: thin solid rgb(173, 128, 74);
    height: 27px;
}


.btn {
    display: inline-block;
    padding: 5px 20px; /* top and bottom , left and right*/
    /*background-color: #1bba93;*/
    /*background-color: rgb(173, 128, 74);*/
    /*font-size: 17px;*/
    border: none;
    border-radius: 5px;
    font-size: 14px;
    /*color: #bcf5e7;*/
    cursor: pointer;
    /*width: 120px;*/
}

    .btn:hover {
        background-color: rgb(43, 67, 81);
        color: white;
    }

.control-label {
    /*width: 15%;
        padding: 5px;*/
    /*background-color: #1bba93;*/
    color: black;
    /*border-radius: 5px;*/
    font-size: 14px;
    position: relative;
    /*top: -8px;*/
}

