

/*
{.app-bg{
    background-color: rgb(23, 58, 134);    
}
.app-left-bg {
    background-color: rgb(23, 58, 134);
}
.app-right-bg {
    background-color: rgb(23, 58, 134);
}
.app-top-bg {
    background-color: rgb(23, 58, 134);
}
.app-bottom-bg {
    background-color: rgb(23, 58, 134);
}
.app-bd {
    border: solid thin silver;
}



.sideleft-bg {
    background-color: rgb(23, 58, 134);
}

.sideleft-left-bg {
    background-color: rgb(23, 58, 134);
}

.sideleft-right-bg {
    background-color: rgb(23, 58, 134);
}

.sideleft-top-bg {
    background-color: rgb(23, 58, 134);
}

.sideleft-bottom-bg {
    background-color: rgb(23, 58, 134);
}
.sideleft-bd {
    border: solid thin silver;
}



.sideright-bg {
    background-color: rgb(23, 58, 134);
}

.sideright-left-bg {
    background-color: rgb(23, 58, 134);
}

.sideright-right-bg {
    background-color: rgb(23, 58, 134);
}

.sideright-top-bg {
    background-color: rgb(23, 58, 134);
}

.sideright-bottom-bg {
    background-color: rgb(23, 58, 134);
}
.sideright-bd {
    border: solid thin silver;
}



.sidetop-bg {
    background-color: rgb(23, 58, 134);
}

.sidetop-left-bg {
    background-color: rgb(23, 58, 134);
}

.sidetop-right-bg {
    background-color: rgb(23, 58, 134);
}

.sidetop-top-bg {
    background-color: rgb(23, 58, 134);
}

.sidetop-bottom-bg {
    background-color: rgb(23, 58, 134);
}
.sidetop-bd {
    border: solid thin silver;
}



.sidebottom-bg {
    background-color: rgb(23, 58, 134);
}

.sidebottom-left-bg {
    background-color: rgb(23, 58, 134);
}

.sidebottom-right-bg {
    background-color: rgb(23, 58, 134);
}

.sidebottom-top-bg {
    background-color: rgb(23, 58, 134);
}

.sidebottom-bottom-bg {
    background-color: rgb(23, 58, 134);
}
.sidebottom-bd {
    border: solid thin silver;
}


.index-bg {
    background-color: rgb(23, 58, 134);
}

.index-left-bg {
    background-color: rgb(23, 58, 134);
}

.index-right-bg {
    background-color: rgb(23, 58, 134);
}

.index-top-bg {
    background-color: rgb(23, 58, 134);
}

.index-bottom-bg {
    background-color: rgb(23, 58, 134);
}

.index-bd {
    border: solid thin silver;
}



.popup-bg {
    background-color: rgb(23, 58, 134);
}

.popup-left-bg {
    background-color: rgb(23, 58, 134);
}

.popup-right-bg {
    background-color: rgb(23, 58, 134);
}

.popup-top-bg {
    background-color: rgb(23, 58, 134);
}

.popup-bottom-bg {
    background-color: rgb(23, 58, 134);
}
.popup-bd {
    border:solid thin silver;
}

*/