
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome To EasySex24.com</title>
</head>


<body id="welcomeEmail-page" style="border:1px solid red;">

    <p style="padding-left:10px;padding-right:10px;">
        Hi Sphijo
    </p>
    <p style="padding-left:10px;padding-right:10px;color:orange">
        Thanks for Signing up to <a href="http://easysex24.com">Our Site</a>
    </p>
    <p style="padding-left:10px;padding-right:10px;color:orange">

        Please confirm your account by clicking this <a href="@ViewBag.Link">Link</a>
    </p>
    <p style="padding-left:10px;padding-right:10px;">
        <i>EasySex24</i>
    </p>

</body>



