
/*body{
    position:relative ;
}

.left-side-wrapper
{
   float:left;
  border:thick solid red;
  width:50px;
  min-height:900px
}

.left-side-menu{

}

.right-side-wrapper
{
  border:thick solid green;
  margin-left:230px;
  width: calc(100% - 50px);
   min-height:900px
}

.left-side-Header , .right-side-Header
{

    border:thick solid blue;
    min-height:150px;
 
}*/






/*.right-side
{

    border:thick solid yellow;
   
 
}


.main-sidebar{

    border:thick solid green;
 
}


.left-side
 {

    border:thick solid orange;
 
}

.main-header 
{

    border:thick solid blue;
    min-height:150px;
 
}
.main-header .navbar
{

    border:thick solid blue;
    margin-left:170px;
    left:170px;
}


.main-sidebar{
    min-width:230px;
    border:thick solid blue;
}*/







