@model IEnumerable<School.Entities.Fields.Teacher>

<style>
    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .rm-pd {
        padding: 0px;
        margin: 0;
    }

    #partialTableHolder {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 400px;
    }
    #viewStudent-Page {
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100% - 20px);
    }

    .card_t {
        /*background: #fff;*/
        background-color: rgb(59 90 108);
        border-radius: 2px;
        display: inline-block;
        /*height: 300px;*/
        min-height: 210px;
        margin: 1rem;
        position: relative;
        /*width: 300px;*/
        width: calc(100% - 20px);
    }
</style>

<div id="viewStudent-Page" class="bodyClass00 col-sm-12" style="padding-top:0px;border:5px solid white">

    <div class="col-sm-12" style="display:inline-block;border:2px solid yellow;display:block;padding:0px;">
        <div id="divParentId" class="divParent row col-md-12" style="padding:0;margin:0;">

            @*<div class="divHeader col-md-12 rm-pd" style="border:1px solid red">
                <p class="text-center col-md-12 rm-pd " style="top:4px;min-height:30px;max-height:30px; color:white">View Students Results</p>
            </div>*@

            <div class="col-md-12" style="padding:15px;padding-top:15px;border:2px solid red;">

                @*<div class="form-group">
                    <div class="col-md-3">
                        <select id="selectedSearchId" class="form-control">
                            <option value="0" selected>Name</option>
                            <option value="1">Surname</option>
                            <option value="2">Gender</option>
                            <option value="3">Grade</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input id="btnUploadFile" type="text" value="Sphiwe" class="col-md-12 form-control" />
                    </div>
                    <div class="col-md-2">
                        <input id="btnSearch" type="button" value="Search" class="btn btn-default" />
                    </div>
                </div>*@
                
                <div class="col-md-12" style="border: 0px solid red; display: inline-block;">
                    <div class="col-md-12" style="border: 0px solid white; display: inline-block;">
                        <div class="card_t card-1">
                            <div class="col-xs-12">
                                <div class="cardHeader col-xs-12" style="padding: 0px; margin: 0; background-color: orange;border: 1px solid wheat;">
                                    <h3 class="col-xs-12 text-center rm-pd" style="top:0px; color:white">  School Teachers</h3>
                                </div>

                                <div class="divBody col-md-12" style="min-height:90px;border:1px solid wheat;">
                                    <div class="col-xs-12">
                                        <div class="col-md-3">
                                            <select id="selectedSearchId" class="form-control">
                                                <option value="0" selected>Name</option>
                                                <option value="1">Surname</option>
                                                <option value="2">Gender</option>
                                                <option value="3">Grade</option>
                                            </select>
                                        </div>
                                        <div class="col-md-7">
                                            <input id="btnUploadFile" type="text" value="Sphiwe" class="col-md-12 form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input id="btnSearch" type="button" value="Search" class="btn btn-default" />
                                        </div>
                                    </div>
                                    <div id="partialTableHolder" class="col-xs-12" style="padding:0;padding:20px;min-height:30px;max-height:520px;border:0px solid silver;">
                                        @Html.Partial("_TableTeacher", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="border: 0px solid white; display: inline-block;">
                        <div class="card_t card-1">
                            <div class="col-xs-12">
                                <div class="cardHeader col-xs-12" style="padding: 0px; margin: 0; background-color: orange;border: 1px solid wheat;">
                                    <h3 class="col-xs-12 text-center rm-pd" style="top:0px; color:white"> Grades For Teachers</h3>
                                </div>

                                <div class="divBody col-md-12" style="min-height:90px;border:1px solid wheat;">
                                    <div id="partialTableGradeHolder" class="col-xs-12" style="padding:0;padding:20px;min-height:30px;max-height:520px;border:0px solid silver;">
                                        @Html.Partial("_TableGrade", new List<School.Entities.Fields.Grades>())
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="border: 0px solid white; display: inline-block;">
                        <div class="card_t card-1">
                            <div class="col-xs-12">
                                <div class="cardHeader col-xs-12" style="padding: 0px; margin: 0; background-color: orange;border: 1px solid wheat;">
                                    <h3 class="col-xs-12 text-center rm-pd" style="top:0px; color:white">  Teachers Subjects</h3>
                                </div>

                                <div class="divBody col-md-12" style="min-height:90px;border:1px solid wheat;">
                                    <div id="partialTableSubjectHolder" class="col-xs-12" style="padding:0;padding:20px;min-height:30px;max-height:520px;border:0px solid silver;">
                                        @Html.Partial("_TableSubject", new List<School.Entities.Fields.Subject>())
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               

            </div>

            <div class="col-xs-12 rm-pd" style="min-height:5px;max-height:5px;background-color:rgb(59, 90, 108);border:1px solid green;">
            </div>

        </div>
    </div>

</div>


<script>
    
    function TeacherConstractor(teacher) {
        this.teacher = teacher;
    }
    TeacherConstractor.prototype.getTeacher = function () {
        return this.teacher;
    };
    var _teacher = new TeacherConstractor({});

    $("#selectedSearchId").change(function (event) {
        event.preventDefault();
        event.stopPropagation();
        //debugger;
        var selectedValue = $("#selectedSearchId option:selected").val();
        var data = {
            'selectedValue': selectedValue.trim()
        };

        var partialHolder = "#viewStudent-Page #partialTableHolder";
        var header = 'Update UserInfor';
        url = '/Student/SearchRecord';
        var pageObj = { function: "append", url: url, type: "Post", data: data, header: header, pageId: "", partialHolder: partialHolder };
        classControllerHelper.callController(pageObj);

    });

    $('#btnSearch').click(function () {
        event.preventDefault();
        event.stopPropagation();
        //debugger;
        var selectedValue = $("#selectedSearchId option:selected").val();
        var data = {
            'selectedValue': selectedValue.trim()
        };

        var partialHolder = "#viewStudent-Page #partialTableHolder";
        var header = 'Update UserInfor';
        url = '/Student/SearchRecord';
        var pageObj = { function: "append", url: url, type: "Post", data: data, header: header, pageId: "", partialHolder: partialHolder };
        classControllerHelper.callController(pageObj);
    });


</script>