
<!DOCTYPE html>
<html>

<head id="layoutHeaderId">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="icon" rel="shortcut icon" href="~/Content/Icon/sphiwe24.ico">

    <link href="~//bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/bootstrap-3.3.7/Scripts-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="~/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/font-awesome-new/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/cssAnimation/cssAnimate.css" rel="stylesheet" />
    <link href="~/Content/cssAnimation/cssAnimateMessage.css" rel="stylesheet" />
    <link href="~/Content/Theme/layoutPage/sidebar-menu.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-datepicker.js"></script>

    <style>
        body, html {
            height: 100%;
            overflow-y: hidden !important;
            overflow-x: hidden;
        }

        .add-rd5 {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .rm-pd {
            padding: 0;
        }

        .rm-mg {
            margin: 0;
        }

        .rm-pd-top {
            padding-top: 0px;
            margin-top: 0px;
        }

        .rm-head {
            display: none;
        }

        a, a:active, a:focus,
        button, button:focus, button:active,
        .btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
            outline: none;
            outline: 0;
        }


        .add-border {
            border: thin solid red;
        }


        .PartialLayoutMenu {
            border: 2px solid rgb(59, 90, 108);
            border-top: 0px;
            display: block;
            background-color:rgb(214, 219, 233);
        }

        .layout-wrapper {
            position: relative;
            /*height: calc(100vh - 2px);*/
            height: calc(100vh - 0px);
        }

        .layoutLeft-wrapper {
            top: 0;
            left: 0px;
            width: 250px;
            height: calc(100vh - 11px);
            position: absolute;
            z-index: 1;
            transition: 0.5s;
            padding-top: 60px;
            /*overflow-x: hidden;*/
            /*overflow-y: hidden;*/
            /*background-color: rgb(59, 90, 108);*/
        }

        .layoutRight-wrapper {
            margin-left: 250px;
            /*width: calc(100% - 250px);*/
            height: calc(100vh - 11px);
            /*transition: margin-left .5s;*/
        }

        .addDelay {
            transition: margin-left .5s;
        }

        .layoutLeft-header {
            min-height: 50px;
            max-height: 50px;
            /*background-color: rgb(59, 90, 108);*/
            /*background-color: rgb(205, 205, 205);*/
            /*border-bottom: 5px solid orange;*/
            background-color: rgb(214, 219, 233);
            /*border-bottom: 5px solid rgb(232, 232, 232);*/
            border-bottom: 5px solid rgb(59, 90, 108);
        }

        .layoutLeft-body {
            height: calc(100vh - 60px);
            /*overflow-y: scroll;*/
        }

        .layoutRight-header {
            min-height: 50px;
            max-height: 50px;
            /*background-color: rgb(59, 90, 108);*/
            /*background-color: rgb(205, 205, 205);*/
            background-color: rgb(214, 219, 233);
            /*border-bottom: 5px solid rgb(232, 232, 232);*/
            border-bottom: 5px solid rgb(59, 90, 108);
            /*border-bottom: 5px solid orange;*/
        }

        .layoutRight-body {
            position: relative;
            height: calc(100vh - 60px);
        }

        .layout-wrapper .logEasy24 {
            position: absolute;
            box-shadow: 1px 1px 41px 1px silver;
            border-color: wheat;
            background-color: rgb(59, 90, 108);
            border-radius: 20px;
            max-width: 110px;
            min-width: 110px;
            /*top: 30px;*/
            top: 5px;
            left: 70px;
            text-align: center;
            line-height: 30px;
            font-weight: bold;
        }

        .addBoxShadow {
            box-shadow: 0px 0px 3px 1px rgba(59, 90, 108,0.5);
            display: inline-block;
        }

        .layout-addBoxShadow {
            display: inline-block;
            margin: 10px;
            /*box-shadow: 0px 0px 3px 1px rgba(59, 90, 108,0.5);*/
            /*background-color: rgb(59, 90, 108)*/;
            /*box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);*/
        }

        .layout-footer {
            position: absolute;
            height: 10px;
            bottom: 0px;
            background-color: rgb(214, 219, 233);
        }

        .btnWidth {
            min-width: 120px;
        }

        input[type=text], input[type=button], input[type=label] {
            font-size: 12px;
        }
    </style>

    <style>

        #PopupOverlayLogIn, #PopupOverlayChildOne, #PopupOverlayChildTwo, #PopupOverlayChildThree, #PopupOverlayBusyIcon, #PopupOverlayMessage {
            position: relative;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            z-index: 600;
            top: 0;
            left: 0;
            position: fixed;
            background-color: black;
            display: none;
        }

        #PopupOverlayChildOne, #PopupOverlayChildTwo, #PopupOverlayChildThree, #PopupOverlayBusyIcon, #PopupOverlayMessage {
            z-index: 100;
        }

        #PopupOverlayChildTwo {
            z-index: 200;
        }

        #PopupOverlayChildThree {
            z-index: 300;
        }

        #PopupOverlayBusyIcon {
            z-index: 1000;
        }

        #PopupOverlayMessage {
            z-index: 1000;
        }

        /*.bd-primary {
            border: 1px solid rgb(0, 123, 255);
        }

        .bd-secondary {
            border: 1px solid rgb(108, 117, 125);
        }

        .bd-success {
            border: 1px solid rgb(40, 167, 69);
        }

        .bd-danger {
            border: 1px solid rgb(220, 53, 69);
        }

        .bd-warning {
            border: 1px solid rgb(255, 193, 7);
        }

        .bd-info {
            border: 1px solid rgb(23, 162, 184);
        }

        .bd-primary {
            border: 1px solid rgb(0, 123, 255);
        }

        .bd-secondary {
            border: 1px solid rgb(108, 117, 125);
        }

        .bd-success:hover {
            background-color: rgb(40, 167, 69);
        }

        .bd-danger:hover {
            background-color: rgb(220, 53, 69);
        }

        .bd-warning:hover {
            background-color: rgb(255, 193, 7);
        }

        .bd-info:hover {
            background-color: rgb(23, 162, 184);
        }

        .bd-primary:hover {
            background-color: rgb(0, 123, 255);
        }

        .bd-secondary:hover {
            background-color: rgb(108, 117, 125);
        }

        .sml-font {
            font-style: normal;
            font-size: 11px !important;
        }

        .show-block {
            display: block;
        }

        .show-none {
            display: none;
        }

        .color-hd {
        }

        .color-ft {
        }

        .color-btn {
        }

        .color-txt {
        }

        .color-lb {
        }

        .color-bd {
        }

        .color-pg {
        }

        .color-pg-hd {
        }

        .color-tb-hd {
        }

        .color-pg-ft {
        }

        .color-tb-ft {
        }*/
    </style>


    <style>

        /*Mobile Phone*/

        /*phone 360 width*/
        /* body, html {
                     border: 2px solid green;
                    height: 700px;
                    overflow-y: hidden !important;
                    overflow-x: hidden;
                }

                body {
                    width: 360px;
                    margin-left: calc(50% - 130px);
                    border: 1px solid wheat;
                }
                .layout-wrapper{
                    border:1px solid red;
                }

                */
        /**/


        /*phone 460 width*/
        /*body, html {
                    height: 700px;
                    overflow-y: hidden !important;
                    overflow-x: hidden;
                }*/
        /*body{
                    width: 460px;
                    margin-left: calc(100vh - 460px/2);
                    margin-left: calc(50% - 460px);
                    border: 5px solid wheat;
                }*/


        /*phone 780 width*/
        /*body, html {
                    height: 700px;
                    overflow-y: hidden !important;
                    overflow-x: hidden;
                }*/
        /*body{
                    width: 780px;
                    margin-left: calc(100vh - 400px);
                    border: 5px solid wheat;
                }*/




        /*.rotatedCloseBtn {
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                }*/

        /*#menuHolderId{
                    background-color: rgb(59, 90, 108);
                }*/


        #tableId {
            background-color: white;
        }
    </style>

</head>


<body id="layoutBodyId" style="">
    <div id="layout-page" class="layout-wrapper col-sm-12 rm-pd">

        <div id="layoutLeftId" class="layoutLeft-wrapper startEasy isOpen rm-pd" style="display: inline-block;overflow:hidden">

            <div class="layoutLeft-header rm-pd">
                <span class="logEasy24" style="color:white; min-height:30px;width:80px">mySchool</span>
            </div>
            <div id="menuHolderId" class="PartialLayoutMenu layoutLeft-body desktopMenu rm-pd">
                @*@Html.Partial("_PartialLayoutMenu")*@
            </div>

        </div>

        <div id="layoutRightId" class="layoutRight-wrapper noDelayCloseOpen rm-pd">
            <div id="topMenuHolderId" class="layoutRight-header rm-pd">
                @Html.Partial("_LayoutRightHeader")
            </div>

            <div id="homeHolderId" class="layoutRight-body rm-pd">
                @RenderBody()
            </div>

            <div id="popupMenuId" class="rm-pd" style="border:2px solid red;width:250px;height: calc(100vh - 60px);position:absolute;top:50px;z-index:100;display:none;">
                @*@Html.Partial("_PartialLayoutMenu")*@
            </div>
        </div>

        <div class="layout-footer col-sm-12">
        </div>
    </div>

    <div class="popupOverlay" id="PopupOverlayLogIn" style="display:none;border: 1px solid rgb(43, 67, 81);"></div>
    <div class="popupOverlay" id="PopupOverlayChildOne" style="display:none;border: 1px solid rgb(43, 67, 81);"></div>
    <div class="popupOverlay" id="PopupOverlayChildTwo" style="display:none;border: 1px solid rgb(43, 67, 81);"></div>
    <div class="popupOverlay" id="PopupOverlayChildThree" style="display:none;border: 1px solid rgb(43, 67, 81);"></div>
    <div class="popupOverlay" id="PopupOverlayChildFour" style="display:none;border: 1px solid rgb(43, 67, 81);"></div>
    <div class="popupOverlay" id="PopupOverlayChildFive" style="display:none;border: 1px solid rgb(43, 67, 81);"></div>
    <div class="popupOverlay" id="PopupOverlayMessage" style="display:none;border: 1px solid rgb(43, 67, 81);"></div>
    <div class="popupOverlay" id="PopupOverlayBusyIcon" style="display:none;border: 1px solid red;"></div>

</body>

</html>

<script>

    $(document).ready(function () {

        if (deviceSize.width < 700) {
            $("#layoutLeftId").addClass("isOpen");
            classMenuHelper.openCloseMenu(deviceSize.width);
        }
        else {
            $("#layoutLeftId").removeClass("isOpen");
            classMenuHelper.openCloseMenu(deviceSize.width);
        }

        $('.popupOverlay').click(function (event) {
            //.rotatedCloseBtn
            var obj = {
                element: "#Home-Container .divParent button#btnCloseGeneric",
                page: "ovalay",
                action: "",
                color: "1",
                background: "1",
                visibility: "",
            }
            classTimerGeneric.startTimer(obj, 10);
            //100*30 = 3 minutes
        });
    });

    window.onerror = function (msg, url, lineNo, columnNo, error) {
        var string = msg.toLowerCase();
        var substring = "script error";
        if (string.indexOf(substring) > -1) {
            alert('Script Error: See Browser Console for Detail');
        } else {
            debugger;
            var message = [
                'Message: ' + msg,
                'URL: ' + url,
                'Line: ' + lineNo,
                'Column: ' + columnNo,
                'Error object: ' + JSON.stringify(error)
            ].join(' - ');

            alert(message);
        }

        return false;
    };

</script>
