

<style>

    #custom-loading-overlay {
        position: relative;
    }

    .primary {
        margin-bottom: 1px;
        /*-ms-scrollbar-highlight-color: rgb(77, 111, 131);*/
        -ms-scrollbar-face-color: bisque;
        /*-ms-scrollbar-arrow-color: rgb(51, 122, 183);*/
        /*max-height: calc(100vh - 110px);*/
    }

    .showSubMenu {
        position: absolute;
        display: block;
        z-index: 1;
        min-width: 240px;
        min-height: 40px;
        left: 48px;
        margin-top: -40px;
    }

    .list_Header {
        border: thin solid orange;
        display: block;
        background-color: red;
        min-height: 45px;
    }

    div#content {
        position: relative;
        border: thin solid gray;
        margin: 20px;
        padding: 20px;
        height: 150px;
        width: 150px;
    }

    .sidebar-submenu .fa {
        color: orange;
    }

    .sidebar-menu .treeview a span {
        font-size: 13px;
    }

    .sidebar-menu .treeview .treeview-menu a {
        font-size: 13px;
    }

    .sidebar-menu > .treeview > a:hover {
        background-color: rgb(205, 205, 205);
    }

    .treeview > a > i {
        color: orange;
    }

    .treeview > a, .treeview-menu li > a, .treeview-menu li {
        outline: 0;
    }

    .showSubMenu22 {
        position: relative;
        display: none;
        padding-left: 5px;
        margin: 0 1px;
    }

    .showSubMenu_ul {
        position: relative;
        display: none;
        padding-left: 5px;
        margin: 0 1px;
    }

    .showSubMenu_ul_li {
        display: block;
    }

    .sidebar-submenu, .treeview-menu {
        display: none;
    }

        .sidebar-submenu span, .sidebar-submenu a {
            font-size: 11px;
            color: black;
        }

    .sidebar-menu > li > a {
        padding: 12px 5px 12px 15px;
        display: block;
        border-left: 3px solid transparent;
        font-size: 11px;
        color: black;
    }
    .sidebar-menu > li > a span {
        color: black;
    }

    .container-parent {
        display: inline-block; /* WRAP CHILD DIV*/
        padding-top: 2px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .my-container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .tagPic {
        height: 300px;
        width: auto;
    }



    .advertHere-boxShadow {
        /*box-shadow: 0px 0px 3px 1px rgba(59, 90, 108,0.5);*/
        box-shadow: 0px 0px 3px 1px rgba(82, 109, 129,0.5);
        margin-top: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding-left: 0px;
        padding-right: 0px;
        display: inline-block;
        /*padding-bottom: 5px;*/
    }

    .span-advert {
        background-color: orange;
        border: 1px solid silver;
        border-bottom: 4px solid wheat;
        height: 40px;
        /* font-size:24px;
        width:100%;*/
    }

    #SurbubId:hover, #a-SurbubId:hover {
        /*background-color: orangered;*/
    }
    .treeview {
        border-bottom: 1px solid rgb(232, 232, 232);
    }

</style>

<aside id="menuId" class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu primary primary_ScrollBar" style="display:none;">

            <li class="treeview" id="usr0" style="display:block">
                <a class="centerChild" href="#" style="">
                    <span class="menu-header-name" style="">Menue</span>
                </a>
            </li>


            <li class="treeview" id="menu-student-maint" style="display:block;width:auto;">
                <a href="#"  class="menu-st">
                    <i class="fa fa-users"></i>
                    <span class="menu-header-name">Students Maintanance</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right erroSign"></i>
                    </span>
                </a>
                <ul id="ul-studentResultId" class="sidebar-submenu treeview-menu" style="width:auto;">
                    <li id="li-student_maint1" name="student" style="display:block" onclick="callController('/StudentResult/GetRecord','Student Report')"><a href="#"><i class="fa fa-circle-o"></i>Student Report</a></li>
                    <li id="li-student_maint2" name="student" style="display:block" onclick="callController('/StudentMarks/GetRecord','Record Marks')"><a href="#"><i class="fa fa-circle-o"></i>Record Marks</a></li>
                    <li id="li-student_maint3" name="student" style="display:block" onclick="callController('/StudentAttendance/GetRecord','Student Attendance')"><a href="#"><i class="fa fa-circle-o"></i>Student Attendance</a></li>
                </ul>
            </li>
            <li class="treeview" id="menu-student-reg" style="display:block;width:auto;">
                <a href="#"  class="menu-st">
                    <i class="fa fa-folder-open"></i>
                    <span class="menu-header-name">Students Registration</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right erroSign"></i>
                    </span>
                </a>
                <ul id="ul-student-reg" class="sidebar-submenu treeview-menu" style="width:auto;">
                    <li id="li-student-reg1" name="student" style="display:block" onclick="callController('/StudentRegister/CreateRecord','Create Student')"><a href="#"><i class="fa fa-circle-o"></i>Create Stundent</a></li>
                    <li id="li-student-reg2" name="subject" style="display:block" onclick="callController('/Student/GetRecord','View Students')"><a href="#"><i class="fa fa-circle-o"></i>View Student</a></li>
                </ul>
            </li>
            <li class="treeview" id="me-teacher" style="display:none;width:auto;">
                <a href="#" class="aprovince">
                    <i class="fa fa-home"></i>
                    <span class="menu-header-name">Profile Teacher</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right erroSign"></i>
                    </span>
                </a>
                <ul id="ul-teacherId" class="sidebar-submenu treeview-menu" style="width:auto;">
                    <li id="li-teache-pro1" name="student" style="display:block" onclick="callController('/Student/GetRecord','View Student')"><a href="#"><i class="fa fa-circle-o"></i>View Student</a></li>
                    <li id="li-teache-pro2" name="student" style="display:block" onclick="callController('/StudentResult/GetRecord','Subject Scores')"><a href="#"><i class="fa fa-circle-o"></i>Subject Scores</a></li>
                    <li id="li-teache-pro3" name="student" style="display:block" onclick="callController('/StudentSubjectMarks/PreRecordMark','Stundent Marks')"><a href="#"><i class="fa fa-circle-o"></i>Record Marks</a></li>
                    <li id="li-teache-pro3" name="student" style="display:block" onclick="callController('/StudentSubjectMarks/PreAddMark','Stundent Marks')"><a href="#"><i class="fa fa-circle-o"></i>Stundent Marks</a></li>
                    <li id="li-teache-pro3" name="student" style="display:block" onclick="callController('/StudentAttendance/GetRecord','Student Attendance')"><a href="#"><i class="fa fa-circle-o"></i>Student Attendance</a></li>
                </ul>
            </li>
            <li class="treeview" id="menu-grade" style="display:block;width:auto;">
                <a href="#"  class="menu-a">
                    <i class="fa fa-book"></i>
                    <span class="menu-header-name">Grades</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right erroSign"></i>
                    </span>
                </a>
                <ul id="ul-gradeId" class="sidebar-submenu treeview-menu" style="width:auto;">
                    <li id="li-gradeId1" name="course" style="display:block" onclick="callController('/Grade/AddRecord','Add Grade')"><a href="#"><i class="fa fa-circle-o"></i>Add Grade</a></li>
                    <li id="li-gradeId2" name="course" style="display:block" onclick="callController('/Grade/GetRecord','View Grade')"><a href="#"><i class="fa fa-circle-o"></i>View Grade</a></li>
                </ul>
            </li>
            <li class="treeview" id="menu-class" style="display:block;width:auto;">
                <a href="#" class="menu-a">
                    <i class="fa fa-book"></i>
                    <span class="menu-header-name">Classes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right erroSign"></i>
                    </span>
                </a>
                <ul id="ul-classId" class="sidebar-submenu treeview-menu" style="width:auto;">
                    <li id="li-classId2" name="course" style="display:block" onclick="callController('/Classes/AddRecord','Add Classes')"><a href="#"><i class="fa fa-circle-o"></i>Add Classes</a></li>
                    <li id="li-classId1" name="course" style="display:block" onclick="callController('/Classes/GetRecord','View Classes')"><a href="#"><i class="fa fa-circle-o"></i>View Classes</a></li>
                </ul>
            </li>

            <li class="treeview" id="menu-subject" style="display:block;width:auto;">
                <a href="#" class="menu-a">
                    <i class="fa fa-bookmark"></i>
                    <span class="menu-header-name">Subjects</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right erroSign"></i>
                    </span>
                </a>
                <ul id="ul-subjectId" class="sidebar-submenu treeview-menu" style="width:auto;">
                    <li id="li-subjecte1" name="subject" style="display:block" onclick="callController('/Subject/AddRecord','Add Subject')"><a href="#"><i class="fa fa-circle-o"></i>Add Subject</a></li>
                    <li id="li-subjecte2" name="subject" style="display:block" onclick="callController('/Subject/GetRecord','View Subject')"><a href="#"><i class="fa fa-circle-o"></i>View Subject</a></li>
                </ul>
            </li>

            <li class="treeview" id="menu-gradeMaintanance" style="display:none;width:auto;">
                <a href="#" class="menu-a">
                    <i class="fa fa-book"></i>
                    <span class="menu-header-name">Grade Maintanance</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right erroSign"></i>
                    </span>
                </a>
                <ul id="ul-gradeMaintananceId" class="sidebar-submenu treeview-menu" style="width:auto;">
                    <li id="li-gradeMaintananceId1" name="course" style="display:block" onclick="callController('/GradeMaintanance/GetRecord','Grade Maintanance')"><a href="#"><i class="fa fa-circle-o"></i>Grade Maintanance</a></li>
                </ul>
            </li>

            <li class="treeview" id="menu-teacher" style="display:block;width:auto;">
                <a href="#" class="menu-a">
                    <i class="fa fa-pencil"></i>
                    <span class="menu-header-name">Teacher Registration</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right erroSign"></i>
                    </span>
                </a>
                <ul id="ul-teacherId" class="sidebar-submenu treeview-menu" style="width:auto;">
                    <li id="li-teacherId1" name="student" style="display:block" onclick="callController('/TeacherRegister/CreateRecord','Create Teacher')"><a href="#"><i class="fa fa-circle-o"></i>Create Teacher</a></li>
                    <li id="li-teacherId2" name="student" style="display:block" onclick="callController('/TeacherRegister/GetRecord','View Teacher')"><a href="#"><i class="fa fa-circle-o"></i>View Teacher</a></li>
                    <li id="li-teacherId3" name="student" style="display:none" onclick="callController('/TeacherRoles/CreateRoles','Create Roles')"><a href="#"><i class="fa fa-circle-o"></i>Create Roles</a></li>
                    @*<li id=student3 name="student" style="display:block" onclick="callController('/Teacher/AddRecord','Create Teacher')"><a href="#"><i class="fa fa-circle-o"></i>Create Teacher</a></li>
                <li id=student1 name="student" style="display:block" onclick="callController('/Teacher/GetRecord','View Teacher')"><a href="#"><i class="fa fa-circle-o"></i>View Teacher</a></li>*@
                </ul>
            </li>

            <li class="treeview dashboardId" id="N3" style="display:block;width:auto;">
                <a id="a-dashboardId" href="#" onclick="callController('/Dashboard/GetRecord')">
                    <i class="fa fa-home"></i>
                    <span id="span-dashboardId" class="menu-header-name">Dashboard</span>
                    <span class="pull-right-container">
                        <i class="fa pull-right"></i>
                    </span>
                </a>
            </li>
            <li class="treeview rolesId" id="N3" style="display:block;width:auto;">
                <a id="a-rolesId" href="#" onclick="callController('/Roles/GetRecord')">
                    <i class="fa fa-home"></i>
                    <span id="span-roleId" class="menu-header-name">Roles</span>
                    <span class="pull-right-container">
                        <i class="fa pull-right"></i>
                    </span>
                </a>
            </li>

            <!--Payment(Admin)-->
            <li class="treeview" id="menu-subject" style="display:block;width:auto;background-color:rgb(43, 67, 81)">
                <a href="#" class="aprovince">
                    <i class="fa fa-money"></i>
                    <span class="menu-header-name">Student Profile</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right erroSign"></i>
                    </span>
                </a>
                <ul id="ul-provinceId" class="sidebar-submenu treeview-menu" style="width:auto;">
                    <li id="subjecte3" name="subject" style="display:block" onclick="callController('/Books/DownloadBooks','Download Books')"><a href="#"><i class="fa fa-circle-o"></i>Download Books</a></li>
                    <li id="subjecte3" name="subject" style="display:block" onclick="callController('/QuestionPaper/DownloadQuestionPaper','Download Question Paper')"><a href="#"><i class="fa fa-circle-o"></i>Download Question Paper</a></li>
                    <li id="subjecte1" name="subject" style="display:block" onclick="callController('/Exams/UploadExams','Upload Exams')"><a href="#"><i class="fa fa-circle-o"></i>Upload Exams</a></li>


                    @*<hr />
                <li id=subjecte1 name="subject" style="display:block" onclick="callController('/Exams/UploadExams','Upload Exams')"><a href="#"><i class="fa fa-circle-o"></i>Upload Exams</a></li>
                <li id=subjecte3 name="subject" style="display:block" onclick="callController('/Exams/DownloadExams','Download Exams')"><a href="#"><i class="fa fa-circle-o"></i>Download Exams</a></li>
                <li id=subjecte3 name="subject" style="display:block" onclick="callController('/StudyMaterial/Books','Books')"><a href="#"><i class="fa fa-circle-o"></i>Books</a></li>
                <li id=subjecte1 name="subject" style="display:block" onclick="callController('/StudyMaterial/Questions','Questions')"><a href="#"><i class="fa fa-circle-o"></i>Questions</a></li>
                <li id=subjecte1 name="subject" style="display:block" onclick="callController('/StudentPayment/viewStudentPayment','View All Payment')"><a href="#"><i class="fa fa-circle-o"></i>View All Payment</a></li>
                <li id=subjecte3 name="subject" style="display:block" onclick="callController('/StudentPayment/GetRecord','Make Payment')"><a href="#"><i class="fa fa-circle-o"></i>Make Payment</a></li>*@
                </ul>
            </li>


            <!--Timesheet-->
            <li class="treeview" id="menu-timesheetId" style="display:block;width:auto;background-color:rgb(43, 67, 81)">
                <a href="#" class="aprovince">
                    <i class="fa fa-calendar"></i>
                    <span class="menu-header-name">Timesheet</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right erroSign"></i>
                    </span>
                </a>
                <ul id="ul-timesheetId" class="sidebar-submenu treeview-menu" style="width:auto;">
                    <li id="timesheetId1" name="student" style="display:block" onclick="callController('/Timesheet/GetRecord','View Timesheet')"><a href="#"><i class="fa fa-circle-o"></i>View Timesheets(Admin)</a></li>
                    <li id="timesheetId2" name="student" style="display:block" onclick="callController('/Timesheet/AddRecord','Create Timesheet')"><a href="#"><i class="fa fa-circle-o"></i>Create Timesheet(Admin)</a></li>
                </ul>
            </li>

            <!--Payment(Admin)-->
            <li class="treeview" id="menu-payment" style="display:block;width:auto;background-color:rgb(43, 67, 81)">
                <a href="#" class="aprovince">
                    <i class="fa fa-money"></i>
                    <span class="menu-header-name">Payment</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right erroSign"></i>
                    </span>
                </a>
                <ul id="ul-provinceId" class="sidebar-submenu treeview-menu" style="width:auto;">
                    <li id="li-paymentId" name="subject" style="display:block" onclick="callController('/StudentPayment/viewStudentPayment','View All Payment')"><a href="#"><i class="fa fa-circle-o"></i>View All Payment</a></li>
                    <li id="li-paymentId" name="subject" style="display:block" onclick="callController('/StudentPayment/GetRecord','Make Payment')"><a href="#"><i class="fa fa-circle-o"></i>Make Payment</a></li>
                </ul>
            </li>


            <!--Upload Study materials)-->
            <li class="treeview" id="menu-study-material" style="display:block;width:auto;background-color:rgb(43, 67, 81)">
                <a href="#" class="aprovince">
                    <i class="fa fa-money"></i>
                    <span class="menu-header-name">Upload Study materials</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right erroSign"></i>
                    </span>
                </a>
                <ul id="ul-provinceId" class="sidebar-submenu treeview-menu" style="width:auto;">
                    <li id="subjecte33" name="subject" style="display:block" onclick="callController('/UploadBooks/DownloadBooks','Upload Books')"><a href="#"><i class="fa fa-circle-o"></i>Upload Books</a></li>
                    <li id="subjecte333" name="subject" style="display:block" onclick="callController('/UploadQuestionPaper/DownloadQuestionPaper','Upload Question Paper')"><a href="#"><i class="fa fa-circle-o"></i>Upload Question Paper</a></li>
                </ul>
            </li>

        </ul>
    </section>
</aside>



<script>

    $(document).ready(function () {

        //$('.byidminspijo').hide().css("display", "none")

        classMenuEventsHelper();

        var _menuList = [];
        var _listUserPermission = JSON.parse('@Html.Raw(Json.Encode(Session["ListUserPermission"]))');
        var _userInfor = JSON.parse('@Html.Raw(Json.Encode(Session["UserDetailsInfor"]))');

        //if (_userInfor !== null) {
        //    $(".sign-container .pfl_user").append(_userInfor.fName + "  " + _userInfor.lName + "  " + _userInfor.isAdmin);
        //    $(".sign-container .pfl_user1").append(_userInfor.fName + "  " + _userInfor.lName);
        //    $(".sign-container .pf_user").append(_userInfor.usrName);
        //    $(".sign-container .pl_user").append(_userInfor.telephoneNo);
        //}
    });

    var selectedProvince = "";
    var __selectedSuburb = "";

    function callController(url, header) {
        //debugger;
        if (deviceSize.width < 700) {
            classMenuHelper.openMobileMenu();
        }

        var objPage = {};// controllerHelper.objPage;
        objPage.partialHolder = "#basePartialHolder #partialHolder";
        objPage.divHeader = "#basePartialHolder .divHeader p.headerText";
        objPage.header = header;//'Add New Student';
        objPage.type = 'Get';
        objPage.url = '/StudentResult/GetRecord';
        // divHeader: "#Home-Container #PopupBodyRegister .divHeader p.headerText",
        //var divHeader = objPopup.divHeader;
        //var button = objPopup.button;
            //$(divHeader).empty().text(header);
        //var pageId = "";
        //var pageObj = { function: "append", url: url, data: data, header: "", pageId: "" };


        var partialHolder = "#basePartialHolder #partialHolder";
        //var header = 'Update UserInfor';
        //url = '/StudentResult/GetRecord';
        var pageObj = { function: "append", url: url, type: "Get", data: objPage, header: header, pageId: "", partialHolder: partialHolder };
        classControllerHelper.callController(pageObj);
        //overrideUserSession.openPage = objPopup.popupName;
    }

</script>



