<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Tooltip On Hover DIV</title>
	<meta name="description" content="DESCIPTIONHERE" />
    <meta name="author" content="Codeconvey" />
    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" type="text/css" href="demo.css" />
    <link rel="stylesheet" type="text/css" href="tooltip.css" />

</head>
<body>

<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
          
        </div>
        <div class="col-rt-2">
            <ul>
                <li><a href="https://codeconvey.com/css-tooltip-on-hover-div">Back To Tutorial</a></li>
            </ul>
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1>CSS Tooltip On Hover DIV</h1>
                <p>Build with CSS and Plain HTML. It work with DIV element to show the text.</p>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
                
                <div class="wrapper">
                   I have a tooltip.
                   <div class="tooltip">I am a tooltip!</div>
                </div>
              
              <p>Cras rutrum turpis pharetra porta consequat. Cras tempor, urna eu feugiat feugiat, libero lacus fringilla mauris, vitae sagittis lorem odio vel elit. Nunc tincidunt placerat lacinia. Nulla a mi pretium, consequat orci in, ullamcorper diam. In massa sapien, fermentum vel purus ut, pellentesque ornare nulla.</p>

		<p> In tristique enim et diam placerat mollis. Nulla orci diam, placerat vel imperdiet interdum, tempus ac libero. Vivamus bibendum finibus lectus, a tincidunt eros sagittis at. Suspendisse viverra non metus sit amet ornare. Phasellus ac eros neque. </p>

		<p>Sed elementum, erat at mollis posuere, metus tellus consequat velit, sit amet aliquam erat ante ut tortor. Nunc vel nunc quis ante eleifend egestas. Donec venenatis mi in augue varius tempus. Aliquam nec leo laoreet, ornare lacus vitae, pharetra neque. Nulla nisi arcu, sollicitudin in dolor quis, rhoncus consectetur ipsum. Nam vel urna et est auctor imperdiet. Donec vitae venenatis sapien, porttitor dictum tortor. Phasellus id tempor nisl. Aliquam consequat, augue nec elementum vestibulum, velit nulla consectetur risus, ac condimentum magna felis at odio.</p>

<h3>Let's resize the window and see the footer still stick at bottom</h3>


<p>Nullam enim dui, cursus vitae aliquet vel, eleifend ut lorem. Proin id ligula sit amet felis mattis interdum. Nam convallis suscipit elit, accumsan commodo elit dapibus sed. Nulla sit amet vestibulum odio. Etiam volutpat arcu ligula, eu pulvinar libero blandit in.</p>

<p>Proin pulvinar id elit ut posuere. Nullam vulputate nisi sit amet nisi ullamcorper venenatis. Nulla vitae ante id lacus tristique venenatis bibendum sit amet magna. Pellentesque sit amet elementum est, nec facilisis arcu.</p>

<p>Quisque condimentum ex et ipsum mollis, tincidunt semper leo blandit. Phasellus tincidunt elit sed dui tincidunt placerat. Integer gravida convallis malesuada. Nulla id ultrices eros. Donec molestie vehicula bibendum. Suspendisse id tristique magna, et vestibulum ex. Vestibulum tempor tortor vel augue fringilla, vehicula consectetur magna vehicula.

<p>Nam ac fermentum ex. Mauris id ligula id elit vestibulum auctor at quis lectus. Duis eget rhoncus nisi, vulputate ullamcorper enim. Sed vitae blandit nulla. Cras tincidunt nisl purus, vitae euismod est scelerisque eget. Phasellus consequat malesuada porttitor. Ut eleifend sit amet eros at eleifend. In hac habitasse platea dictumst.</p>


    		</div>
		</div>
    </div>
</section>


  

	</body>
</html>
