@using School.Entities.Fields;
@model UserLogin

<style type="text/css">
    input[type="submit"] {
        outline: 0;
        outline: none
    }

    #childPage {
        width: 400px;
        left: calc(50% - 180px);
        display: none;
    }
        #childPage #partialHolder {
            border: none;
            overflow-y: hidden;
            overflow-x: hidden;
            max-height: 260px;
        }
</style>

<div id="Login-page" class="col-xs-12 rm-pd" style="padding-top:20px;">

    @using (Ajax.BeginForm("LogIn", "LogIn", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailure"}, new { @id = "loginForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group has-feedback" style="padding-left:10px;padding-right:10px;">
            @Html.TextBoxFor(m => m.Username, new {@class = "form-control"})
        </div>
        <div class="form-group has-feedback" style="padding-left:10px;padding-right:10px;">           
          @Html.TextBoxFor(m => m.Password, new { @class = "form-control",Type="Password" })           
        </div>
        <div class="form-group" style="padding-left:10px;padding-right:10px;">
            <button type="submit" class="btn btn-success btnWidth btnlogColor">Sign In</button>
            <button type="button" id="btnClose" class="btn btn-danger btnWidth btnlogColor" >Close</button>
            <hr />
            <a href="#" style="color:blue;"><i class="fa fa-key"></i> I forgot my password </a>
        </div>
    }
</div>


<script>

    function OnFailure(response) {
        
        $('#div-busy-Icon').hide();
        showMessage(response.message, "error", response.title);
    }

    function OnSuccess(response) {

        $('#div-busy-Icon').hide();
        if (response.result === "false") {
            classMessageResponse.showMessage({ message: response.message, type: "error", title: response.title, pageId: "" });

            //controllerHelper.isLogin = true;
            //$('#layout-page .layout-div1').css("border-bottom", "5px solid orange");
            //$('#childPage').css("display", "none");
            //$('#PopupOverlay').css("display", "none");
            //$('#Home-Container #Home-page').css("display", "none");
            //$('#Home-Container #basePageId').empty().show().html(response);          
        }
        else {

            $('#menuId .sidebar-menu').css("display", "block");
            $("#Home-Container #PopupBodyUserLogin #btnCloseGeneric").trigger("click");
            var partialHolder = "#basePartialHolder #partialHolder";
            var header = 'View Desktop';
            var url = '/Dashboard/GetRecord';
             $('#basePartialHolder').css("display", "block");
            var pageObj = { function: "append", url: url, type: "Get", data: "", header: header, pageId: "", partialHolder: partialHolder };
            classControllerHelper.callController(pageObj);
            $('#basePartialHolder').css("display", "block");
            $('#homePage').css("display", "none");

            $('#rightHeader-logInPageId').css("display", "none");
            $('#rightHeader-logOffPageId').css("display", "block");
        }
    }
</script>
