@using School.Entities.Fields;
@model UserLogin

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style type="text/css">

    .w_load_icon {
        display: inline-block;
        width: 32px;
        height: 32px;
        background: url(../images/w_load.gif) no-repeat;
        background-image: url('../../Content/Logo/loading.gif');
    }

    #Login-page .control-label {
        font-size: 12px;
        font-stretch: wider;
    }

    #Login-page input[type="text"], #Login-page #passwordId {
        min-height: 35px;
        max-height: 35px;
        background-color: rgb(43, 67, 81);
        border: thin solid white;
        color: wheat;
    }

    #Login-page .form-control {
        border-radius: 0px;
        box-shadow: none !important;
        border-right: none;
        transition: none;
        font-size: 12px;
        border: thin solid rgb(210, 214, 222);
        height: 28px;
    }

    input[type="submit"] {
        outline: 0;
        outline: none
    }

    #Home-Container #PopupBodyUserLogin {
        top: 30px;
        width: 360px;
        left: calc(50% - 180px);
    }
</style>

<div id="Login-page" class="col-xs-12 rm-pd" style="padding-top:20px;">

    @using (Ajax.BeginForm("Login", "Account", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailure", OnBegin = "OnBegin" }, new { @id = "loginForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group has-feedback" style="padding-left:10px;padding-right:10px;">
            @Html.TextBoxFor(m => m.Username, new { @id = "userId", @class = "form-control", @placeholder = "EmailAddress Or Phone Number", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            <span class="glyphicon glyphicon-user form-control-feedback" style="right:10px;font-size:26px;"> </span>
        </div>
        <div class="form-group has-feedback" style="padding-left:10px;padding-right:10px;">
            <div class="input-group">
                @Html.PasswordFor(m => m.Password, new { @id = "passwordId", @class = "form-control", @placeholder = "Password", autocomplete = "off" })
                <div class="input-group-btn">
                    <button id="showPasswordId" class="btn btn-default" type="button" style="height:35px;background-color:rgb(59, 90, 108);">
                        <i class="glyphicon glyphicon-eye-open" style="color:red;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group" style="padding-left:10px;padding-right:10px;">
            <button type="submit" class="btn btn-primary btnWidth btnlogColor" onclick='return validateInput()'>Sign In</button>
            <hr />
            <a href="#" style="color:blue;" onclick="callingForgotPassword('forgotPassword','/ResetPassword/ForgotPasswordPartial')"><i class="fa fa-key"></i> I forgot my password </a>
            @*<br /><br />
                <a href="#" style="color:blue;" onclick="callingForgotPassword('changePassword','/ResetPassword/ResetPassword')"><i class="fa fa-key"></i> Reset Password </a>*@
        </div>
    }
</div>


<script>


    $('#Login-page button#btnClose').click(function (event) {
        event.preventDefault();
        event.stopPropagation();
        var _this = this;

        //var pageId = $(_this).siblings("#partialHolder").children('div').attr("id");
        //var popupBodyID = $(_this).parent('div').parent('div .childBodyPage').attr('id');
        //var partialHolderId = $(_this).siblings('div .partialHolder').attr('id');

        $('#PopupBodyUserLogin').css("display", "none");
        $('#PopupOverlayLogIn').css("display", "none");
        //PopupOverlayLogIn
        //classIndexPage.closePopup(_this);
    });


    function OnFailure(response) {

        $('#div-busy-Icon').hide();
        showMessage(response.message, "error", response.title);
    }

    function OnSuccess(response) {
        // debugger;
        $('#div-busy-Icon').hide();
        if (response.result === "false") {
            classMessageResponse.showMessage({ message: response.message, type: "error", title: response.title, pageId: "" });

            //controllerHelper.isLogin = true;
            //$('#layout-page .layout-div1').css("border-bottom", "5px solid orange");
            //$('#childPage').css("display", "none");
            //$('#PopupOverlay').css("display", "none");
            //$('#Home-Container #Home-page').css("display", "none");
            //$('#Home-Container #basePageId').empty().show().html(response);
        }
        else {

            $('#menuId .sidebar-menu').css("display", "block");
            //$("#Home-Container #PopupBodyUserLogin #btnCloseGeneric").trigger("click");
            $("#Login-page button#btnClose").trigger("click");
            var partialHolder = "#basePartialHolder #partialHolder";
            var header = 'View Desktop';
            var url = '/Dashboard/GetRecord';
            $('#basePartialHolder').css("display", "block");
            var pageObj = { function: "append", url: url, type: "Get", data: "", header: header, pageId: "", partialHolder: partialHolder };
            classControllerHelper.callController(pageObj);
            $('#basePartialHolder').css("display", "block");
            $('#homePage').css("display", "none");

            $('#rightHeader-logInPageId').css("display", "none");
            $('#rightHeader-logOffPageId').css("display", "block");


            $('#rightHeader-registerPageId').css("display", "none").hide();
            $('#rightHeader-logInUserPageId').css("display", "block").show().text(response.name);
            $('.default-menu .menu').css("display", "none").hide();

        }
    }

</script>

